# Paystack keys (get from https://dashboard.paystack.com)
PAYSTACK_PUBLIC_KEY=pk_live_eb453448f4bdcde2fe594e6985fbe913b977bebd;
PAYSTACK_SECRET_KEY=sk_live_xxxxxxxxxx

# Admin authentication
# Generate a bcrypt hash of your password: e.g. using `bcryptjs` or online tool
ADMIN_PASSWORD_HASH=$2a$10$somehashhere
JWT_SECRET=your-strong-secret-key-here

# Optional: set to false in production for less console noise
ENABLE_LOGGING=true